<form class="form flex flex-col items-center justify-center bg-white-300 p-6  rounded-lg shadow-md">
  <input class="input my-2 p-3  rounded-lg border border-black-700 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 transition-all duration-300" type="text" name="{{Name}}" placeholder="{{Name}}">
  <button class="button py-3 px-4 mt-4 rounded-lg shadow-md text-white bg-indigo-500 hover:bg-indigo-700 transition-all duration-300 transform hover:scale-105">
    Submit
  </button>
</form>
