<form class="form" method={{Action}} action={{Path}}>
  <input class="form" type="text" name="plot" placeholder="plot"><br><br>
  <input class="form" type="text" name="genres" placeholder="genres"><br><br>
  <input class="form" type="text" name="runtime" placeholder="runtime"><br><br>
  <input class="form" type="text" name="cast" placeholder="cast"><br><br>
  <input class="form" type="text" name="comments" placeholder="comments"><br><br>
  <input class="form" type="text" name="poster" placeholder="poster"><br><br>
  <input class="form" type="text" name="title" placeholder="title"><br><br>
  <input class="form" type="text" name="fullplot" placeholder="fullplot"><br><br>
  <input class="form" type="text" name="languages" placeholder="languages"><br><br>
  <input class="form" type="text" name="released" placeholder="released"><br><br>
  <input class="form" type="text" name="directors" placeholder="directors"><br><br>
  <input class="form" type="text" name="writers" placeholder="writers"><br><br>
  <input class="form" type="text" name="awards" placeholder="awards"><br><br>
  <input class="form" type="text" name="lastupdated" placeholder="lastupdated"><br><br>
  <input class="form" type="text" name="imdb" placeholder="imdb"><br><br>
  <input class="form" type="text" name="countries" placeholder="countries"><br><br>
  <input class="form" type="text" name="type" placeholder="type"><br><br>
  <input class="form" type="submit">
</form>