
<script>
  
}

</script>

<div class="form">
  <input id="value" class="form" type="text" name="id" placeholder="id" ><br><br>
  <button class="form" type="button" onclick=del()>Submit</button>
  <p id="result"></p>
</div>
