
<div class="bg-white-100 rounded-md p-6 mt-10 shadow-md hover:shadow-2xl transition duration-500 ease-in-out ">
  <h1 class="text-3xl font-bold mb-4">{{title}}</h1>
  <p class="text-lg mb-4">I have created this web application as the final project for a Web Development 1 course at Humber College.
    </p>
    <p class="text-md " >

  
     Through this project, I aimed to demonstrate my skills in developing a fully functional web application that utilizes modern web technologies to provide a seamless user experience.
     I have implemented various features such as secure user authentication, CRUD operations, REST APIs, and efficient data storage using MongoDB Atlas. 
     I utilized Express-Handlebars that allows you to view movie details and information. Also,
     this application is deployed on Cyclic Cloud for scalability.
     Please proceed to login and explore my application to discover all of the features like adding, deleting, and editing movies with a secured login process
    </p>
</div>
