<section class="h-screen">
  <div class="container mx-auto px-6 h-full text-gray-800">
    <div class="flex justify-center items-center flex-wrap h-full g-6">
      <div class="flex-1 lg:w-1/2 xl:w-5/12">
        <img  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class=" w-3/5 animate-bounce"
          alt="Sample image" />
      </div>
      <div class="flex-1 lg:w-1/2 xl:w-7/12">
        <form id="loginform" method="POST" action="/loginjwt" class="bg-white rounded-lg shadow-xl p-8">

          <!-- Email input -->
          <div class="mb-6">
            <label for="email" class="text-gray-600 block mb-2">Email:</label>
            <input type="text" name="email"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-gray-100 bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-gray-100 focus:border-blue-600 focus:outline-none"
              id="email" placeholder="Email" />
          </div>
          <!-- Password input -->
          <div class="mb-6">
            <label for="password" class="text-gray-600 block mb-2">Password:</label>
            <input type="password" name="password"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-gray-100 bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-gray-100 focus:border-blue-600 focus:outline-none"
              id="password" placeholder="Password" />
          </div>

          <div class="text-center lg:text-left">
            <button class="flex mx-auto form button py-3 px-4 mt-4 rounded-lg shadow-md text-white bg-indigo-500 hover:bg-indigo-700 transition-all duration-300 transform hover:scale-105" type="submit">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
